# config.py
SECRET_KEY = "secretkey"

# To notify RPA Team when process file is uploaded
SMTP_SERVER=server
SMTP_PORT=587
SMTP_USERNAME=username
SMTP_PASSWORD=pw
FROM_EMAIL=support@hybridworkforces.com
SMTP_USE_TLS=true


#ftp server credentials icat
C_FTP_HOST = "host"
C_FTP_USERNAME = "username"
C_FTP_PASSWORD = "pw"
C_FTP_PORT = 21

#ftp server credentials santova
S_FTP_HOST = "host"
S_FTP_USERNAME = "username"
S_FTP_PASSWORD = "pw"
S_FTP_PORT = 21

#databse credentials DB_A4EFFD_Hybridwf
server="server"
user="username"
password="pw"
database="DB_A4EFFD_Hybridwf"

#databse credentials plesk6900.is.cc for db_Icat
server_name="servername"
main_user_name="username"
db_password="pw"
database_name="db_Icat"
port=1433

#databse credentials plesk6900.is.cc for santova
# server_name="servername"
# user_name="username"
# db_password="pw"
# database_name="santova"

UIPATH_ORCHESTRATOR_URL="uiurl"
UIPATH_ORCHESTRATOR_TOKEN="token"